* {
    padding: 0;
    margin: 0;
}


/* header */

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    width: 80%;
    margin: 0% 10% 1% 10%;
    box-sizing: boreder-box;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAEAB4;
    color: #4D4029;
    padding: 1%;
}

a {
    text-decoration: none;
    color: #4D4029;
}

.library {
    width: 90%;
    font-family: 'Belgrano', serif;
    margin: 0 0 0 57px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.labrary>h1 {
    width: 10%;
    height: 33.33%;
}

.labrary>h1:hover {
    cursor: default;
}

.library__search {
    width: 35%;
    height: 25%;
    position: relative;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #C4C4C4;
    border: 1.5px solid #4D4029;
    box-sizing: border-box;
}

.library__search-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.library__search-form>input {
    width: 90%;
    height: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 42px;
    color: #818181;
    background: #C4C4C4;
    border: none;
    outline: none;
}

#search-button {
    width: 10%;
    height: 33.33%;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    border: none;
    outline: none;
}

#search-button>img {
    width: 100%;
    height: 100%;
}

.division1 {
    width: 13.2%;
    height: 0.2px;
    position: relative;
    left: 50px;
    background-color: black;
    border: 1px solid #000000;
    transform: rotate(-89.57deg);
}

.division {
    width: 13.4%;
    height: 0.2px;
    position: relative;
    right: 40px;
    background-color: black;
    border: 1px solid #000000;
    transform: rotate(-89.57deg);
}

.library__username {
    width: 15%;
    height: 33.33%;
    position: relative;
    bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}

.library__username>img {
    width: 25%;
    height: 25%;
}

.library__username>p {
    width: 75%;
    height: 25%;
    position: relative;
    left: 10px;
    bottom: 5px;
    margin: 7px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #4D4029;
}

.buttons {
    position: relative;
    right: 50px;
}

.buttons a {
    display: flex;
    justify-content: center;
    border: 2px solid #4D4029;
    border-radius: 5px;
    font-size: 14pt;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.buttons #language {
    display: flex;
    justify-content: center;
    border: 2px solid #4D4029;
    border-radius: 5px;
    font-size: 14pt;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.buttons a:hover {
    color: white;
    background-color: black;
    cursor: default;
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: #4D4029;
    border: 1px solid #FAEAB4;
}


/* Menu */

.menu,
.content {
    display: flex;
    float: left;
    min-height: 100vh;
}

.menu {
    width: 25%;
    background-color: #FBF4DA;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu>h1 {
    position: relative;
    margin: 40px 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #4D4029;
}

.menu>h1:hover {
    cursor: default;
}

.menu>a {
    margin: 0 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #4D4029;
}

.menu>a:hover {
    cursor: default;
}

.menu__catalog.active_menu {
    text-decoration: underline;
}


/* Content */

.content {
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.content>.content__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.content__container>.container-element {
    width: 100%;
    height: 33.33%;
    margin: 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.container-element>img {
    width: 13%;
    height: 100%;
    box-sizing: border-box;
}

.container-element>.element-description {
    width: 33.33%;
    height: 100%;
    position: relative;
    right: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.element-description>p {
    margin: 4px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.container-element>.element-amount {
    width: 10%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.element-amount>p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.container-element>button {
    width: 15%;
    height: 25%;
    position: relative;
    right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 3px solid #4D4029;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #4D4029;
    outline: none;
}

.container-element>button:hover {
    background-color: black;
    color: white;
}


/* Pagination */

.pagination {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.pagination>button {
    width: 50px;
    height: 50px;
    background-color: white;
    outline: white;
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: none;
}

.pagination>button:hover {
    transition: background-color 0.3s;
    background-color: #FBF4DA;
}

.pagination>.numbers.active {
    background-color: #FBF4DA;
    border: 0.5px solid #fff4cd;
}